
html {
	font-size: 62.5%;
}

body {
	font-size: 1.2rem;
}

h1 {
	font-size: 2.5rem;
}




* {
	color: $font-color-default;
}

.is-active {
	color: $secondary-color;
}
.container {
	box-sizing: border-box;
	border: 1px solid grey;
	padding: 20px;
}

.page-container {
	height: 400px;
}
.body-container {
	background: #f7fafb;
	border-bottom: none;
    border-right: none;
}
// header {
// 	height: 50px;
// }
nav {
	height: 40px;
}
// footer {
// 	height: 40px;
// }
.nav-btn {
	margin-right: 5px;
    padding: 0px 42px;
}

